<!--templates/base.html-->

<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>tool-asset-system</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="app-body">
  <div class="app-root">
    <header class="top-nav">
      <h2 style="margin:0;">tool-asset-system</h2>
      <nav class="nav-right">
        <a href="{{ url_for('parts.parts_list') }}">Parts</a>
        <a href="{{ url_for('parts.parts_new') }}">New</a>
        <a href="{{ url_for('parts.parts_archived') }}">Archived</a>
      </nav>
    </header>

    <main class="app-main">

      {% block content %}{% endblock %}
    </main>
  </div>
</body>

</html>